services:
  solr:
    image: solr:9.8.1
    container_name: solr_test
    ports:
      - "8983:8983"
    command: ["solr-precreate", "testcore"]

  solr-init:
    build:
      context: solr-init
    depends_on:
      - solr
    environment:
      - FORCE_REINDEX=false
    volumes:
      - ./solr-init/data/dataset.json:/opt/rre-dataset-generator/data/dataset.json
      - ../embeddings:/opt/rre-dataset-generator/embeddings
    working_dir: /opt/rre-dataset-generator
    command: ["python", "/opt/rre-dataset-generator/solr_init.py"]
